:root {
  /* Special */
  --background: #000;
  --foreground: #8fc5c6;
  --cursor: #8fc5c6;

  /* Colors */
  --color0: #000;
  --color1: #9e2a5e;
  --color2: #d03c6e;
  --color3: #9d596b;
  --color4: #378b77;
  --color5: #346d8a;
  --color6: #cd6a8c;
  --color7: #8fc5c6;
  --color8: #64898a;
  --color9: #9e2a5e;
  --color10: #d03c6e;
  --color11: #9d596b;
  --color12: #378b77;
  --color13: #346d8a;
  --color14: #cd6a8c;
  --color15: #8fc5c6;
}
