:root {
  /* Special */
  --background: #000;
  --foreground: #a1bfa2;
  --cursor: #a1bfa2;

  /* Colors */
  --color0: #000;
  --color1: #264d33;
  --color2: #316b37;
  --color3: #255546;
  --color4: #316e4a;
  --color5: #3e6848;
  --color6: #3f8648;
  --color7: #a1bfa2;
  --color8: #708571;
  --color9: #264d33;
  --color10: #316b37;
  --color11: #255546;
  --color12: #316e4a;
  --color13: #3e6848;
  --color14: #3f8648;
  --color15: #a1bfa2;
}
