:root {
  /* Special */
  --background: #000;
  --foreground: #a6c1b8;
  --cursor: #a6c1b8;

  /* Colors */
  --color0: #000;
  --color1: #554b41;
  --color2: #962a30;
  --color3: #f21b2b;
  --color4: #df4d49;
  --color5: #2ea564;
  --color6: #f7934a;
  --color7: #a6c1b8;
  --color8: #748780;
  --color9: #554b41;
  --color10: #962a30;
  --color11: #f21b2b;
  --color12: #df4d49;
  --color13: #2ea564;
  --color14: #f7934a;
  --color15: #a6c1b8;
}
