:root {
  /* Special */
  --background: #000;
  --foreground: #e58997;
  --cursor: #e58997;

  /* Colors */
  --color0: #000;
  --color1: #bb243d;
  --color2: #cc1b37;
  --color3: #e11f3d;
  --color4: #d8213e;
  --color5: #e2203e;
  --color6: #b42d44;
  --color7: #e58997;
  --color8: #a05f69;
  --color9: #bb243d;
  --color10: #cc1b37;
  --color11: #e11f3d;
  --color12: #d8213e;
  --color13: #e2203e;
  --color14: #b42d44;
  --color15: #e58997;
}
