:root {
  /* Special */
  --background: #000;
  --foreground: #93d2d4;
  --cursor: #93d2d4;

  /* Colors */
  --color0: #000;
  --color1: #205556;
  --color2: #445142;
  --color3: #b63632;
  --color4: #9a9746;
  --color5: #2e52c2;
  --color6: #c610be;
  --color7: #93d2d4;
  --color8: #669394;
  --color9: #205556;
  --color10: #445142;
  --color11: #b63632;
  --color12: #9a9746;
  --color13: #2e52c2;
  --color14: #c610be;
  --color15: #93d2d4;
}
