:root {
  /* Special */
  --background: #000;
  --foreground: #9fc8e0;
  --cursor: #9fc8e0;

  /* Colors */
  --color0: #000;
  --color1: #8b1374;
  --color2: #2d3090;
  --color3: #512f91;
  --color4: #325ab7;
  --color5: #4c5aa5;
  --color6: #b91f9e;
  --color7: #9fc8e0;
  --color8: #6f8c9c;
  --color9: #8b1374;
  --color10: #2d3090;
  --color11: #512f91;
  --color12: #325ab7;
  --color13: #4c5aa5;
  --color14: #b91f9e;
  --color15: #9fc8e0;
}
