:root {
  /* Special */
  --background: #000;
  --foreground: #aba0cb;
  --cursor: #aba0cb;

  /* Colors */
  --color0: #000;
  --color1: #8b2039;
  --color2: #a5244b;
  --color3: #e22a66;
  --color4: #b55f40;
  --color5: #eb9346;
  --color6: #0a6389;
  --color7: #aba0cb;
  --color8: #77708e;
  --color9: #8b2039;
  --color10: #a5244b;
  --color11: #e22a66;
  --color12: #b55f40;
  --color13: #eb9346;
  --color14: #0a6389;
  --color15: #aba0cb;
}
