:root {
  /* Special */
  --background: #06070a;
  --foreground: #79c4c6;
  --cursor: #79c4c6;

  /* Colors */
  --color0: #06070a;
  --color1: #175564;
  --color2: #066c71;
  --color3: #414255;
  --color4: #0e7587;
  --color5: #64468f;
  --color6: #8d419f;
  --color7: #79c4c6;
  --color8: #54898a;
  --color9: #175564;
  --color10: #066c71;
  --color11: #414255;
  --color12: #0e7587;
  --color13: #64468f;
  --color14: #8d419f;
  --color15: #79c4c6;
}
